/* Original Colors */
.purple {
    background-color: #d6bbfb;
}

.purple-light {
    background-color: #f3ebff;
}

.pink {
    background-color: #f9a8d4;
}

.pink-light {
    background-color: #ffebf6;
}

.yellow {
    background-color: #fde68a;
}

.yellow-light {
    background-color: #fef6d3;
}

.blue {
    background-color: #93c5fd;
}

.blue-light {
    background-color: #e0edff;
}

.indigo {
    background-color: #a5b4fc;
}

.indigo-light {
    background-color: #e6e9ff;
}

.red {
    background-color: #fca5a5;
}

.red-light {
    background-color: #ffebeb;
}

.orange {
    background-color: #fdba74;
}

.orange-light {
    background-color: #ffeedd;
}

.gray {
    background-color: #cbd5e1;
}

.gray-light {
    background-color: #f1f5f9;
}

.green {
    background-color: #86efac;
}

.green-light {
    background-color: #e6fcef;
}